<div style="height: 25px;"></div>

<table style="  margin-left: 5%;">
  <tbody>
  <% cache [:show, @posts] do %>
          <tr style="background-color: gainsboro;">
            <td style="font-weight: bold">
              Question: <%= @question.title %> ?
            </td>
          </tr>
          <% @question.answers.each_with_index do |ans,j| %>
              <tr style="background-color: lightgoldenrodyellow;">
                <td style=" padding: 10px;">Answer:<%= j + 1 %> <%= ans.title %></td>
              </tr>
              <% ans.comments.each_with_index do |comment,j| %>
                  <tr style="background-color: lightgoldenrodyellow;">
                    <td style=" padding: 10px;">Comment:<%= j + 1 %> <%= comment.desc %></td>
                  </tr>
              <% end %>
          <% end %>
  <% end %>
  </tbody>
</table>