<%= will_paginate @posts %>
<div style="height: 25px;"></div>
<table style="  margin-left: 5%;">
  <tbody>

      <% @posts.each_with_index do |que,i| %>
        <% cache [:list, que] do %>
          <tr style="background-color: gainsboro;">
            <td style="font-weight: bold">
            <%= link_to que do %>
              Question: <%= i + 1 %> About <%= que.title %> ?
            <% end %>
            </td>
          </tr>
          <% Answer.where(parent_id: que.id).each_with_index do |ans,j| %>
              <tr style="background-color: lightgoldenrodyellow;">
                <td style=" padding: 10px;">Answer:<%= j + 1 %> <%= ans.title %></td>
              </tr>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>
